.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #2b2c49, #b5b9ff);
  border-radius: 15px;
  width: 35%;
  height: 50%;
}
