/* Write your CSS here */
.bttn-logout {
  padding: 10px;
  border-radius: 10px;
  width: 100px;
  border-width: 0px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
